.card-title{
    font-size: 1.1em;
    font-weight: 400;
    background: -webkit-linear-gradient(bottom,rgba(152, 180, 176, 0.1),rgba(95, 150, 24, 0.3));
    border-radius: 8px;
    font-family: 'Josefin Sans', sans-serif;
}
.card img{
    height: 18vh;
    width: 15vw;
    max-width: 100%;
    min-width: 173px;
    margin: 0 auto;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
}
.card{
    max-width: 249px;
    text-align: center;
    box-shadow: 0 0 5px rgba(3, 84, 109, 0.6);
    margin: 0.7em;
    background: -webkit-linear-gradient(top,rgba(237, 243, 242, 0.904),rgba(95, 150, 24, 0.3));
    background-color: beige;
    display: flex;
    position: relative;
    border-radius: 8px 8px 21px 21px;
}
.card p {
    font-size: 0.8em;
    min-height: 80px;
}
.projects-container{
    background: #acb7ae;
    /* background-color: beige; */
    max-width: 650px;
    /* max-width: 830px; */
    min-width: 249px;
    padding: 1.3em 1.3em 1em;
    border-radius: 8px;
    margin: 1em;
}
.myProjects{
    display: flex;
    /* position: relative; */
    /* flex-direction: wrap; */
}
#button{
    font-size: 0.8em;

    padding: 3px;
  
}
