*{
    padding:0;
    margin: 0;
    color: #0D544F;
    /* font-family: 'Xanh Mono', monospace; */
    font-family: 'Roboto Mono', monospace;
}

#center-txt{
    text-align: center;
    margin-top: -0.2em;
}

img{
    border:#0D544F 4px solid;
    border-radius: 15px;
    width: 130px;
    min-width: 95px;
    height: auto;
    margin-bottom: 0.8em;
}

div.header{
    display: inline;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    align-items: center;
    text-align: center;
    min-width: 225px;
    margin-top: 1.3em;
}

.name{
    margin: 0 auto;
    min-width: none;
    width: 170px;
    text-align: center;
    font-size: 1.3em;
    margin-top: 0.3em;
    background: -webkit-linear-gradient(top,rgba(97, 119, 115, 0.2), rgba(75, 111, 114, 0.4));
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    margin-bottom: 0.3em;
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.left{
    background: -webkit-linear-gradient(left,rgba(97, 119, 115, 0.2), rgba(48, 94, 99, 0.6));
    float: left;
    /* margin: 0px 1.5em 1.5em; */
    margin: 1em;
    min-width: 249px;
    border-radius: 37px 8px 8px 37px;
    max-width: 650px;
    
}

.right{
    min-width: 249px;
}

.about-me{
    /* background: -webkit-linear-gradient(45deg,rgba(134, 121, 125, 0.1), rgba(161, 21, 21, 0.4)); */
    background: #e1b382;
    /* background-color: beige; */
    max-width: 650px;
    /* max-width: 830px; */
    min-width: 249px;
    padding: 1.3em 1.3em 1em;
    border-radius: 8px 37px 8px 8px;
    /* text-align: center; */
    margin: 1em;
}

.date{
    display: flex;
    font-size: 0.8em;
    justify-content: right;
    margin-bottom: 0;
}

p{
    margin-bottom: 1px;
}



body{
    min-height: 100vh;
    width: 100vw;
    
    justify-content: center;
    background-color: #EAE4B2;
}

.bio{
    /* border:3px solid black; */
    padding: 0 1.3em ;
}

.contact{
    /* border:3px solid black; */
    /* text-align: center; */
    min-width: 225px;
    padding: 0 1.3em ;
    margin-bottom: 1em;
}

p .nav-link{
    color: rgb(88, 60, 8);
}

p .nav-link:hover{
    
    color:brown;
}
